<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egov.mes.manufacture.perfomance.dao.ManPerformanceMapper">

<!-- 제품별 불량율 조회 -->
<select id="selectPodtDef" resultType="egov.mes.manufacture.perfomance.dao.ManPerformanceVO">
	select ( select substr(replace(sysdate, '/', ''), 3,2)||'월' as monthCode from dual ),
		   podt_code, 
           podtName,  
           manGoalqnt,  
           manQnt, 
           defQnt,
           trunc( (defQnt/manQnt)*100,1) as defPercentage --제품별 불량율
	from (select podt_code, 
          prod_detail(podt_code) as podtName, 
          sum(man_goalqnt) as manGoalqnt, 
          sum( ( man_goalqnt - nvl(def_qnt,0) ) ) as manQnt, 
          sum( nvl(def_qnt,0) ) defQnt    
         from manufacture_process
         group by podt_code,  prod_detail(podt_code))

	order by podt_code
</select>


<!-- 월별 불량율 조회 -->
<select id="selectMonthDef" resultType="egov.mes.manufacture.perfomance.dao.ManPerformanceVO">
	select monthCode,
		   podt_code,
		   prod_detail(podt_code) as podtName, 
           manGoalqnt,
           manQnt, 
           defQnt, 
           trunc( (defQnt/manQnt)*100,1) as defPercentage --월별 불량율
	from (select substr(man_date, 0,5) as monthCode,
          sum(man_goalqnt) as manGoalqnt, 
          sum( ( man_goalqnt - nvl(def_qnt,0) ) ) as manQnt, 
          sum( nvl(def_qnt,0) ) defQnt
         from manufacture_process
         group by substr(man_date, 0,5))
	order by monthCode
</select>


</mapper>