<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.mes.defective.dao.DefectiveMapper">
	
	<!-- 일자별 제품찾기 -->
	<select id="findPodtCode" resultType="egov.mes.defective.dao.DefectiveVO">
		select to_char(man_date,'yyyy-MM-dd') as manDate , podt_code , proc_code , fn_get_code_name(proc_code) as procName , fn_get_code_name(podt_code) as podtName 
		from manufacture_process
		where 1=1
		
		<if test="fromDate != null">
			<![CDATA[
				and to_char(man_date , 'yyyy-MM-dd') >= #{fromDate}
			]]>
		</if>
		
		<if test="toDate != null">
			<![CDATA[
				and to_char(man_date , 'yyyy-MM-dd') <= #{toDate}
			]]>
		</if>
		order by man_date ASC
	</select>
	
	<!-- 선택한거 메인그리드에 상세조회 -->
	<select id="selectDefective" resultType="egov.mes.defective.dao.DefectiveVO">
		select def_code , fn_get_code_name(def_code) as defName , podt_code , fn_get_code_name(podt_code) as podtName ,
			proc_code , fn_get_code_name(proc_code) as procName , to_char(man_date,'yyyy-MM-dd') as manDate , def_qnt
		from defective_product_info
		where podt_code = #{podtCode}
		and man_date = #{manDate}
		order by proc_code ASC 
	</select>
	
	<select id="selectProcess" resultType="egov.mes.defective.dao.DefectiveVO">
		select proc_code , fn_get_code_name(proc_code) as procName from process_flowinfo where podt_code = #{podtCode} order by proc_code ASC
	</select>
	
	<select id="selectChart" resultType="egov.mes.defective.dao.DefectiveVO">
		select fn_get_code_name(proc_code) as procCode , sum(def_qnt) as defQnt
		from defective_product_info 
		group by proc_code 
		order by proc_code
	</select>
	
	<select id="selectChart2" resultType="egov.mes.defective.dao.DefectiveVO">
		select to_char(man_date,'MM') as manDate , sum(def_qnt) as defQnt
		from defective_product_info
		group by to_char(man_date,'MM')
		order by to_char(man_date,'MM') 
	</select>
	
	<select id="checkProductList" resultType="egov.mes.defective.dao.DefectiveVO">
		select com_code , man_date , man_qnt , 
			(select max(def_qnt) from manufacture_process where com_code = com_code) as defQnt , 
			(man_qnt-(select max(def_qnt) from manufacture_process where com_code = com_code)) as podtInput 
		from manufacture_process 
		where def_qnt is not null
		
		<if test="fromDate != null">
			<![CDATA[
				and to_char(man_date , 'yyyy-MM-dd') >= #{fromDate}
			]]>
		</if>
		
		<if test="toDate != null">
			<![CDATA[
				and to_char(man_date , 'yyyy-MM-dd') <= #{fromDate}
			]]>
		</if>
	</select>
	
	<select id="defList" resultType="egov.mes.defective.dao.DefectiveVO">
		select proc_code , fn_get_code_name(proc_code) as procName , def_code , fn_get_code_name(def_code) as defName , def_qnt
		from defective_product_info
		where com_code = #{comCode}
	</select>
</mapper>