<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.mes.defective.dao.DefectiveMapper">
	
	<!-- 일자별 제품찾기 -->
	<select id="findPodtCode" resultType="egov.mes.defective.dao.DefectiveVO">
		select man_date , podt_code , proc_code , fn_get_code_name(proc_code) as procName , fn_get_code_name(podt_code) as podtName 
		from manufacture_process
		where 1=1
		
		<if test="fromDate != null">
			<![CDATA[
				and to_char(man_date , 'yyyy-MM-dd') >= #{fromDate}
			]]>
		</if>
		
		<if test="toDate != null">
			<![CDATA[
				and to_char(man_date , 'yyyy-MM-dd') <= #{toDate}
			]]>
		</if>
		order by man_date ASC
	</select>
	
	<!-- 선택한거 메인그리드에 상세조회 -->
	<select id="selectDefective" resultType="egov.mes.defective.dao.DefectiveVO">
		select def_code , fn_get_code_name(def_code) as defName , podt_code , fn_get_code_name(podt_code) as podtName ,
			proc_code , fn_get_code_name(proc_code) as procName , man_date , def_qnt
		from defective_product_info
		where podt_code = #{podtCode}
		and man_date = #{manDate}
	</select>
	
	<select id="selectProcess" resultType="egov.mes.defective.dao.DefectiveVO">
		select proc_code , fn_get_code_name(proc_code) as procName from process_flowinfo where podt_code = #{podtCode} order by proc_code ASC
	</select>
	
</mapper>