<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.mes.common.dao.CommonGroupMapper">

	<select id="find" resultType="egov.mes.common.dao.CommonGroupVO">
		select * from common_group
	</select>
	
	<select id="findSelect" resultType="egov.mes.common.dao.CommonGroupVO">
		select code , group_code , code_name , code_desct , code_flag , code_etc, 'R' AS CRUD
		from common_code
		where group_code = #{groupCode}
	</select>
	
	<insert id="DataAdd" parameterType="egov.mes.common.dao.CommonGroupVO">
		insert into common_code (
								code,
								group_code,
								code_name,
								code_desct,
								code_flag,
								code_etc
								)
						values(#{code} , #{groupCode} , #{codeName} , #{codeDesct} , #{codeFlag} , #{codeEtc} )
		
	</insert>
	
	<update id="dataUpdate" parameterType="egov.mes.common.dao.CommonGroupVO">
		update common_code 
		set
		code_name = #{codeName},
		code_desct = #{codeDesct},
		code_flag = #{codeFlag},
		code_etc = #{codeEtc}
		where code = #{code}
	</update>



</mapper>