<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.mes.resources.check.dao.ResourcesCheckMapper">
	
	<!-- 자재입고검사(자재상태가 발주인 것을 뿌려준다) -->
	<select id="findResourcesCheck" resultType="egov.mes.resources.check.dao.ResourcesCheckVO">
		SELECT ORDR_NO,
			   RSC_CODE,
			   FN_GET_CODE_NAME(RSC_CODE) AS RSC_NAME,
			   FN_GET_RSC_PRC(RSC_CODE) AS RSC_PRC,
			   RSC_CNT,
			   ORDE_DATE,
			   IST_REQ_DATE,
			   '' DEF_CODE,
			   FN_GET_RSC_UNIT(RSC_CODE) AS RSC_UNIT
		FROM RESOURCE_ORDER
		WHERE RSC_ST = '발주'
		ORDER BY ORDR_NO
	</select>
	
	<!-- 자재입고 검사 후-> 입고검사관리테이블에 insert -->
	<insert id="insertResourcesCheck">
		INSERT INTO 
		RESOURCE_IST_CHECK(RSC_TST_NO,
							ORDR_NO,
							RSC_IST_CNT,
							RSC_TST_CNT,
							RSC_PASS_CNT,
							RSC_DEF_CNT,
							TST_FLAG)
					VALUES(F_CODE_MAKER('RC'),
			             	#{ordrNo},
			             	#{rscIstCnt},
			             	#{rscTstCnt},
			             	#{rscPassCnt},
			             	NVL(#{rscDefCnt},0),
			             	'Y')
	</insert>
	
	<!-- 자재입고 검사 후 불량 품목 -> 자재반품 테이블로 insert -->
	<insert id="insertResourcesRtngd">
		INSERT INTO RESOURCE_RTNGD (RTNGD_NO,
									RSC_TST_NO,
									RSC_CODE,
									RTNGD_CNT,
									DEF_CODE,
									RTNGD_DATE)
					SELECT F_CODE_MAKER('RT'),
						   RSC_TST_NO,
						   #{rscCode},
						   RSC_DEF_CNT,
						   #{defCode},
						   SYSDATE	   
					FROM RESOURCE_IST_CHECK
					WHERE ORDR_NO = #{ordrNo}
	</insert>
	
	<!-- 자재입고 검사 후 자재상태 '검사' -> 자재발주 테이블로 update -->
	<update id="updateResourcesCheck">
		UPDATE RESOURCE_ORDER 
        SET RSC_ST = '검사'
      	WHERE ORDR_NO = #{ordrNo}
	</update>
	
	<select id="searchRtngd" resultType="egov.mes.resources.rtngd.dao.ResourcesRtngdVO">
		SELECT CODE AS DEF_CODE, CODE_NAME AS DEF_NAME
		FROM COMMON_CODE
		WHERE CODE LIKE '%' || 'D_R' || '%'
	</select>
</mapper>