<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.mes.resources.check.dao.ResourcesCheckMapper">
	
	<!-- 자재입고검사(자재상태가 발주인 것을 뿌려준다) -->
	<select id="findResourcesCheck" resultType="egov.mes.resources.check.dao.ResourcesCheckVO">
		SELECT ORDR_NO,
			   RSC_CODE,
			   FN_GET_CODE_NAME(RSC_CODE) AS RSC_NAME,
			   FN_GET_RSC_PRC(RSC_CODE) AS RSC_PRC,
			   RSC_CNT,
			   ORDE_DATE,
			   IST_REQ_DATE,
			   FN_GET_RSC_UNIT(RSC_CODE) AS RSC_UNIT
		FROM RESOURCE_ORDER
		WHERE RSC_ST = '발주'
		ORDER BY ORDR_NO
	</select>
	
	<!-- 자재입고 검사 후-> 입고검사관리테이블에 insert -->
	<insert id="insertResourcesCheck">
		INSERT INTO RESOURCE_IST_CHECK(RSC_TST_NO, ORDR_NO, RSC_IST_CNT, RSC_TST_CNT, RSC_PASS_CNT, RSC_DEF_CNT, TST_FLAG, RSC_EXPIRATION_DATE)
		VALUES(TO_CHAR(SYSDATE,'"RC"YYMMDD""') || LPAD(RCNUMBER.NEXTVAL,3,'0'),
             	#{ordrNo},
             	#{rscIstCnt},
             	#{rscTstCnt},
             	#{rscPassCnt},
             	NVL(#{rscDefCnt},0),
             	'Y',
             	#{rscExpirationDate})
	</insert>
	
	<!-- 자재입고 검사 후 자재상태-> 자재발주 테이블로 update -->
	<update id="updateResourcesCheck">
		UPDATE resource_order 
        SET RSC_ST = '검사'
      	WHERE ORDR_NO = #{ordrNo}
	</update>
</mapper>