<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.mes.facility.dao.FacilityMapper">

	<select id="facilityList" resultType="egov.mes.facility.dao.FacilityVO">
		select fs.fac_no , fn_get_code_name(fs.fac_code) as codeName , fs.fac_code , 
		    fs.fac_status , fs.fac_cause , fs.fac_checkdate , fs.fac_output , fs.fac_runtime ,
		    fp.proc_code , fn_get_code_name(fp.proc_code) as procName
		from facility_status fs
	    join facility_process fp
	    on fs.fac_no = fp.fac_no
		where 1=1
		
		<if test="facCode != null">
			and fac_code = #{facCode}
		</if>
		
		<if test="facStatus != null">
			and fac_status = #{facStatus}
		</if>
		
		<if test="checkDatestart != null">
			<![CDATA[
				and to_char(fac_checkdate , 'yyyy-MM-dd') >= #{checkDatestart}
			]]>
		</if>
		
		<if test="checkDateend != null">
			<![CDATA[
				and to_char(fac_checkdate , 'yyyy-MM-dd') <= #{checkDateend}
			]]>
		</if>
		order by fac_no ASC		
	</select>

	<select id="findFacility" resultType="egov.mes.facility.dao.FacilityVO">
		select fac_code , fn_get_code_name(fac_code) as codeName
		from facility_status
		where fn_get_code_name(fac_code) like '%' || #{codeName} || '%'
		order by fac_code ASC
	</select>
	
	<select id="findFacilityAll" resultType="egov.mes.facility.dao.FacilityVO">
		select fac_code , fn_get_code_name(fac_code) as codeName
		from facility_status
		order by fac_code ASC
	</select>
	
	<select id="facilityBreakInfo" resultType="egov.mes.facility.dao.FacilityVO">
		select b.fac_infono , b.fac_no , b.fac_cause , b.fac_causedate , fn_get_code_name(s.fac_code) as codeName
		from facility_breakinfo b 
		join facility_status s
		on b.fac_no = s.fac_no
		where b.fac_no = #{facNo}
		order by b.fac_no
	</select>
	
	<update id="facilityStatusUpdate" statementType="CALLABLE">
		{ call p_update_fac_break( #{facNo},#{facStatus},#{facCause},#{facCheckdate} ) }
	</update>
	
	<select id="selectFacOptions" resultType="egov.mes.facility.dao.FacilityVO">
		select code_name from common_code where group_code = 'fac'
	</select>
	
	<select id="selectProcOptions" resultType="egov.mes.facility.dao.FacilityVO">
		select code from common_code where group_code = 'proc'
	</select>
	
	<insert id="insertFacility" statementType="CALLABLE">
		{ call p_insert_fac(#{facCode},#{facStatus},#{facOutput},#{facRuntime},#{procCode}) }  
	</insert>
	
	<delete id="deleteFacility" statementType="CALLABLE">
		{ call p_delete_fac(#{facNo}) }
	</delete>

</mapper>