<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egov.mes.manufacture.command.dao.ManCommandMapper">

<!-- 제품 코드 입력했을 때 필요한 공정별 자재 조회 -->
<select id="selectRes" resultType="egov.mes.manufacture.command.dao.ManCommandVO">
	select podt_code, prod_detail(podt_code) podtName, res_code, res_usage, proc_code, prod_detail(proc_code) ProcName
	from prdt_bom_res
	where podt_code= #{podtCode}
	order by proc_code
</select>

<!-- 생산계획 디테일 상세 조회(생산지시서 관리 페이지) -->
<select id="selectManPlanDetail" resultType="egov.mes.manufacture.command.dao.ManCommandVO">
	select a.podt_code,  a.ord_duedate,
	       b.plan_no_detail, b.podt_code, prod_detail(b.podt_code) podtName, b.ord_qnt
	from ord_detail_view a join manufacture_plan_d b
	on a.podt_code = b.podt_code
	where b.plan_no_detail = #{planNoDetail}
</select>

<!-- 생산계획 디테일 조회 (생산지시서 관리 페이지) -->
<select id="selectManPlan" resultType="egov.mes.manufacture.command.dao.ManCommandVO">
	select  a.podt_code, prod_detail(a.podt_code) podtName,  a.plan_no_detail, a.man_plan_date, a.man_plan_name,
            b.ord_code, b.ord_duedate, b.ord_qnt
	from man_plan_view a join ord_detail_view b
	on a.ord_code = b.ord_code
	and a.podt_code = b.podt_code
	<where>
		<if test = "planFromDate != null"> 
			and to_char(a.man_plan_date, 'rrrr-MM-dd') >= #{planFromDate}
		</if>
		<if test= "planToDate != null">
			and #{planToDate} >=  to_char(a.man_plan_date, 'rrrr-MM-dd')
		</if>
	</where>
	order by a.plan_no_detail
	
</select>





</mapper>