<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.mes.materialmanage.dao.MaterialManageMapper">

<!-- 자재 간략정보 조회 -->
<select id="MaterialListAllFind" resultType="egov.mes.materialmanage.dao.MaterialManageVO">
select rsc_code , FN_GET_CODE_NAME(rsc_code) AS rscName , rsc_flag
from resources 
ORDER BY rsc_code
</select>

<!-- 자재테이블 단건조회 -->
<select id="resSearch" resultType="egov.mes.materialmanage.dao.MaterialManageVO">
select rsc_code ,  FN_GET_CODE_NAME(rsc_code) AS rscName , rsc_unit , rsc_prc ,rsc_man_code , suplcom_code , FN_GET_CODE_NAME(suplcom_code) AS suplcomName
from resources
where rsc_code = #{rscCode}
</select>

<!-- 자재 입/출고 단건조회 -->
<select id="resStListSearch" resultType="egov.mes.materialmanage.dao.MaterialManageVO">
select  rsc_lot , store_no , ist_cnt , store_etc 
from resource_store
where rsc_code = #{rscCode} AND ist_flag = 'Y'
</select>

<!-- 사원조회(자재반장만) -->
<select id="EmpFind" resultType="egov.mes.materialmanage.dao.MaterialManageVO">
select * 
from Employee_info
where dept_code = 'D002' AND  position_code = 'W003'
</select>

<!-- 구매업체 조회 -->
<select id="ClientFind" resultType="egov.mes.materialmanage.dao.MaterialManageVO">
select * 
from common_code
where group_code = 'cus' AND code_desct = '구매처'
</select>

<select id="selectpmonth" resultType="egov.mes.materialmanage.dao.MaterialManageVO">
select to_number(to_char(store_date , 'MM'))+1 pmonth from resource_store where rsc_code =#{rscCode} group by to_number(to_char(store_date , 'MM'))+1 

</select>

<!-- 월별자재 재고조회 -->
<select id="MonthlyInventory" resultType="egov.mes.materialmanage.dao.MaterialManageVO" parameterType="map">

select * from (
    select to_char(store_date , 'MM') AS month
          ,nvl(lag(sum(case when store_flag='입고' then ist_cnt else 0 end) - nvl((select SUM(rtngd_cnt) from resource_rtngd where rsc_code= #{rscCode} and to_char(rtngd_date,'MM') = to_char(store_date , 'MM') ),0) - sum(case when store_flag='출고' then ost_cnt else 0 end) + sum(case when store_flag='정산입고' then ist_cnt else 0 end) - sum(case when store_flag='정산출고' then ost_cnt else 0 end)) over (order by to_char(store_date , 'MM')),0) AS carryOver
          ,sum(case when store_flag='입고' then ist_cnt else 0 end) AS matInto
          ,sum(case when store_flag='출고' then ost_cnt else 0 end) AS matOut
          ,sum(case when store_flag='정산입고' then ist_cnt else 0 end) AS checkInto
          ,sum(case when store_flag='정산출고' then ost_cnt else 0 end) AS checkOut
          ,nvl((select SUM(rtngd_cnt) from resource_rtngd where rsc_code= #{rscCode} and to_char(rtngd_date,'MM') = to_char(store_date , 'MM') ),0) AS matReturn
          ,nvl(lag(sum(case when store_flag='입고' then ist_cnt else 0 end) - nvl((select SUM(rtngd_cnt) from resource_rtngd where rsc_code= #{rscCode} and to_char(rtngd_date,'MM') = to_char(store_date , 'MM') ),0) - sum(case when store_flag='출고' then ost_cnt else 0 end) + sum(case when store_flag='정산입고' then ist_cnt else 0 end) - sum(case when store_flag='정산출고' then ost_cnt else 0 end)) over (order by to_char(store_date , 'MM')),0)+sum(case when store_flag='입고' then ist_cnt else 0 end) - nvl((select SUM(rtngd_cnt) from resource_rtngd where rsc_code= #{rscCode} and to_char(rtngd_date,'MM') = to_char(store_date , 'MM') ),0) - sum(case when store_flag='출고' then ost_cnt else 0 end) + sum(case when store_flag='정산입고' then ist_cnt else 0 end) - sum(case when store_flag='정산출고' then ost_cnt else 0 end) AS matSum
    from resource_store r
    where rsc_code = #{rscCode}
group by to_char(store_date , 'MM')
    union
    SELECT lpad(level-1,2,'0') 
          ,0 
          ,0 
          ,0 
          ,0 
          ,0 
          ,0 
          ,0 
    from dual d 
    where level not in 
      <foreach collection="list" item="vo" open="(" close=")" separator=",">
       ${vo.pmonth}
    </foreach>
<![CDATA[
    CONNECT BY LEVEL <=13
]]>
)
order by month
</select>

<!-- 사원정보 신규등록 -->
<insert id="AddMat" parameterType="egov.mes.materialmanage.dao.MaterialManageVO">
insert into resources (
							rsc_code,
							rsc_unit,
							rsc_prc,
							rsc_man_code,
							suplcom_code,
							rsc_flag
						)
				values (
							#{rscCode},
							#{rscUnit},
							#{rscPrc},
							#{rscManCode},
							#{suplcomCode},
							'N'	
						)
</insert>

<insert id="AddCommon" parameterType="egov.mes.materialmanage.dao.MaterialManageVO">
	insert into common_code (
							code,
							group_code,
							code_name,
							code_flag
						)
				values (
							#{rscCode},
							'rsc',
							#{rscName},
							'N'
						)
</insert>


<!-- 사원정보 수정 -->
<update id="UpdateMat" parameterType="egov.mes.materialmanage.dao.MaterialManageVO">
	update resources
	set
	rsc_man_code = #{rscManCode},
	suplcom_code = #{suplcomCode},
	rsc_prc		 = #{rscPrc}
	where rsc_code = #{rscCode}
</update>



</mapper>