<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.mes.resources.rtngd.dao.ResourcesRtngdMapper">

	<!-- 반품자재 select -->
	<select id="findResourcesRtngd" resultType="egov.mes.resources.rtngd.dao.ResourcesRtngdVO">
		SELECT T.RSC_CODE, 
		       T.RTNGD_CNT,
		       T.RSC_TST_NO,
		       T.DEF_CODE,
			   T.RTNGD_NO,
			   T.RTNGD_DATE,
		       FN_GET_RSC_UNIT(T.RSC_CODE) AS RSC_UNIT,
			   FN_GET_RSC_PRC(T.RSC_CODE) AS RSC_PRC, 
		       FN_GET_CODE_NAME(T.RSC_CODE) AS RSC_NAME,
			   FN_GET_CODE_NAME(T.def_code) AS DEF_NAME,
		       R.SUPLCOM_CODE AS SUC_CODE
		FROM RESOURCE_RTNGD T
		LEFT JOIN RESOURCES R
		ON T.RSC_CODE = R.RSC_CODE
		<where>
			<if test="rscCode != null and rscCode != '' ">
				and T.RSC_CODE = #{rscCode} 
			</if>
			<if test="sucCode != null and sucCode != '' ">
				and R.SUPLCOM_CODE = #{sucCode} 
			</if>
			<if test="rtngdDate != null">
				<![CDATA[
    			and to_char(T.RTNGD_DATE,'yyyyMMdd') >= to_char(#{rtngdDate},'yyyyMMdd') AND to_char(T.RTNGD_DATE,'yyyyMMdd') <= to_char(#{rtngdDate2}, 'yyyyMMdd')
				]]>
			</if>
		</where>
			ORDER BY T.RTNGD_NO
	</select>

	
</mapper>