<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.mes.resources.rtngd.dao.ResourcesRtngdMapper">

	<!-- 반품자재 select -->
	<select id="findResourcesRtngd" resultType="egov.mes.resources.rtngd.dao.ResourcesRtngdVO">
		SELECT RSC_CODE, 
			   RTNGD_CNT,
			   RSC_TST_NO,
			   DEF_CODE,
			   RTNGD_NO,
			   RTNGD_DATE,
			   FN_GET_RSC_UNIT(RSC_CODE) AS RSC_UNIT,
			   FN_GET_RSC_PRC(RSC_CODE) AS RSC_PRC, 
			   FN_GET_CODE_NAME(RSC_CODE) AS RSC_NAME,
			   FN_GET_CODE_NAME(def_code) AS DEF_NAME
		FROM RESOURCE_RTNGD
	</select>

	
</mapper>