<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.mes.resources.store.dao.ResourceStoreMapper">
	
	<!-- 자재입고관리(검사유무가 'Y'인 품목 AND ) -->
	<select id="findResourcesStore" resultType="egov.mes.resources.store.dao.ResourcesStoreVO">
		SELECT O.ORDR_NO,
			   O.RSC_CODE,
			   C.RSC_PASS_CNT, 
			   FN_GET_CODE_NAME(O.RSC_CODE) AS RSC_NAME,
			   FN_GET_RSC_PRC(O.RSC_CODE) AS RSC_PRC,
			   FN_GET_RSC_UNIT(O.RSC_CODE) AS RSC_UNIT
		FROM RESOURCE_IST_CHECK C
		LEFT JOIN RESOURCE_ORDER O
		ON C.ORDR_NO = O.ORDR_NO
		WHERE C.TST_FLAG = 'Y'
		AND O.RSC_ST = '검사'
		ORDER BY O.ORDR_NO
	</select>
	
	<!-- 자재 LOT번호 부여 후 -> 완전 입고(자재입출고에서 조회 가능) -->
	<insert id="insertResourcesStore">
	<selectKey resultType="egov.mes.resources.store.dao.ResourcesStoreVO" keyProperty="ordrNo" keyColumn="ordrNo" order="BEFORE">
		SELECT ORDR_NO FROM RESOURCE_IST_CHECK WHERE ORDR_NO = #{ordrNo}
	</selectKey>
		INSERT INTO RESOURCE_STORE(	STORE_NO,
									RSC_CODE,
		                    		IST_FLAG,
		                    		RSC_LOT,
		                    		IST_CNT,
		                    		OST_CNT,
		                    		STORE_DATE,
		                    		STORE_FLAG,
		                    		STORE_ETC)
							VALUES(F_CODE_MAKER('RI'),
					                #{rscCode},
					                'Y',
					                #{ordrNo} || '_' || #{rscLot},
					                #{rscPassCnt},
					                0,
					                SYSDATE,
					                '입고',
					                #{storeEtc})
	</insert>
	
	<!-- 자재입고 LOT 번호 발행 후 자재상태 '입고' -> 자재발주 테이블로 update -->
	<update id="updateResourcesStore">
		UPDATE RESOURCE_ORDER 
        SET RSC_ST = '입고'
      	WHERE ORDR_NO = #{ordrNo}
	</update>
	
	<!-- 자재 "입고" 조회 select -->
	<select id="ResourcesStoreIn" resultType="egov.mes.resources.store.dao.ResourcesStoreVO">
		SELECT  S.STORE_NO,
				S.RSC_CODE,
				FN_GET_CODE_NAME(S.RSC_CODE) AS RSC_NAME,
				FN_GET_RSC_UNIT(S.RSC_CODE) AS RSC_UNIT,
				FN_GET_RSC_PRC(S.RSC_CODE) AS RSC_PRC,
		  		S.IST_CNT,
		  		S.RSC_LOT,
				S.STORE_FLAG,
				S.STORE_DATE,
				FN_GET_CODE_NAME(R.SUPLCOM_CODE) AS SUC_NAME
				FROM RESOURCE_STORE S
		LEFT JOIN RESOURCES R
		ON S.RSC_CODE = R.RSC_CODE
		WHERE STORE_FLAG = '입고' 
			<if test="rscCode != null and rscCode != '' ">
				AND O.RSC_CODE = #{rscCode} 
			</if>
			<if test="sucCode != null and sucCode != '' ">
				AND R.SUPLCOM_CODE = #{sucCode} 
			</if>
			<if test="storeDate != null">
				<![CDATA[
    			AND to_char(S.STORE_DATE,'yyyyMMdd') >= to_char(#{storeDate},'yyyyMMdd') AND to_char(S.STORE_DATE,'yyyyMMdd') <= to_char(#{storeDate2}, 'yyyyMMdd')
				]]>
			</if>
				ORDER BY S.STORE_DATE
	</select>
	
	<!-- 자재 "출고" 조회 select -->
	<select id="ResourcesStoreOut" resultType="egov.mes.resources.store.dao.ResourcesStoreVO">
		SELECT  S.STORE_NO,
				S.RSC_CODE,
				FN_GET_CODE_NAME(S.RSC_CODE) AS RSC_NAME,
				FN_GET_RSC_UNIT(S.RSC_CODE) AS RSC_UNIT,
				FN_GET_RSC_PRC(S.RSC_CODE) AS RSC_PRC,
		  		S.OST_CNT,
		  		S.RSC_LOT,
				S.STORE_FLAG,
				S.STORE_DATE,
				FN_GET_CODE_NAME(R.SUPLCOM_CODE) AS SUC_NAME,
				STORE_ETC
				FROM RESOURCE_STORE S
		LEFT JOIN RESOURCES R
		ON S.RSC_CODE = R.RSC_CODE
		WHERE STORE_FLAG = '출고' 			
			<if test="rscCode != null and rscCode != '' ">
				AND S.RSC_CODE = #{rscCode} 
			</if>
			<if test="sucCode != null and sucCode != '' ">
				AND R.SUPLCOM_CODE = #{sucCode} 
			</if>
			<if test="storeDate != null">
				<![CDATA[
    			AND to_char(S.STORE_DATE,'yyyyMMdd') >= to_char(#{storeDate},'yyyyMMdd') AND to_char(S.STORE_DATE,'yyyyMMdd') <= to_char(#{storeDate2}, 'yyyyMMdd')
				]]>
			</if>
				ORDER BY S.STORE_DATE
	</select>
	
	<!-- 자재 입고 조회(모달창) -->
	<select id="searchResourcesStoreIn" resultType="egov.mes.resources.store.dao.ResourcesStoreVO">
		SELECT  RSC_CODE,
		        FN_GET_CODE_NAME(RSC_CODE) AS RSC_NAME,
		        RSC_LOT,
		        FN_GET_RSC_UNIT(RSC_CODE) AS RSC_UNIT,
		        IST_CNT,
		        OST_CNT
		FROM RESOURCE_STORE
		WHERE RSC_CODE = #{rscCode}
		ORDER BY RSC_CODE, RSC_LOT
	</select>
	
	<!-- 자재 출고 조회(모달창) -->
	<select id="searchResourcesStoreOut" resultType="egov.mes.resources.store.dao.ResourcesStoreVO">
		SELECT  RSC_CODE,
        FN_GET_CODE_NAME(RSC_CODE) AS RSC_NAME,
        RSC_LOT,
        FN_GET_RSC_UNIT(RSC_CODE) AS RSC_UNIT,
        OST_CNT
		FROM RESOURCE_STORE
	</select>
	
	<!-- 정산 입고 -->
	<insert id="insertResourcesInventoryIn">
		INSERT INTO RESOURCE_STORE( STORE_NO,
		                            RSC_CODE,
		                            IST_FLAG,
		                            RSC_LOT,
		                            IST_CNT,
		                            OST_CNT,
		                            STORE_DATE,
		                            STORE_FLAG)
		                    VALUES( F_CODE_MAKER('RI'),
		                            #{rscCode},
		                            'Y',
		                            #{rscLot},
		                            #{istCnt},
		                            0,
		                            SYSDATE,
		                            #{storeFlag})
	</insert>
	
	<!-- 정산 출고 -->
	<insert id="insertResourcesInventoryOut">
		INSERT INTO RESOURCE_STORE( STORE_NO,
                            RSC_CODE,
                            IST_FLAG,
                            RSC_LOT,
                            IST_CNT,
                            OST_CNT,
                            STORE_DATE,
                            STORE_FLAG)
                    VALUES( F_CODE_MAKER('RO'),
                            #{rscCode},
                            'Y',
                            #{rscLot},
                            0,
                            #{ostCnt},
                            SYSDATE,
                            #{storeFlag})
	</insert>
	
	<!-- 자재 LOT 조정 조회 -->
	<select id="findResourcesInventory" resultType="egov.mes.resources.store.dao.ResourcesStoreVO">
		SELECT  STORE_FLAG,
        STORE_DATE,
        RSC_CODE,
        FN_GET_CODE_NAME(RSC_CODE) AS RSC_NAME,
        FN_GET_RSC_UNIT(RSC_CODE) AS RSC_UNIT,
        IST_CNT,
        OST_CNT,
        RSC_LOT,
        STORE_ETC
		FROM RESOURCE_STORE
		WHERE STORE_FLAG LIKE '%' || '정산' || '%'
			<if test="rscCode != null and rscCode != '' ">
				AND RSC_CODE = #{rscCode} 
			</if>
			<if test="storeDate != null">
				<![CDATA[
    			AND to_char(STORE_DATE,'yyyyMMdd') >= to_char(#{storeDate},'yyyyMMdd') AND to_char(STORE_DATE,'yyyyMMdd') <= to_char(#{storeDate2}, 'yyyyMMdd')
				]]>
			</if>
				ORDER BY STORE_DATE
	</select>
	
	<!-- 자재 LOT별재고 조회 -->
	<select id="resourceStoreInventory" resultType="egov.mes.resources.store.dao.ResourcesStoreVO">
		SELECT  RSC_LOT , 
		        SUM(IST_CNT) AS IST_CNT,
		        SUM(OST_CNT) AS OST_CNT,
		        (SUM(IST_CNT)-SUM(OST_CNT)) AS RSC_CNT, 
		        RSC_CODE,
		        FN_GET_CODE_NAME(RSC_CODE) AS RSC_NAME,
		        FN_GET_RSC_UNIT(RSC_CODE) AS RSC_UNIT
		        FROM RESOURCE_STORE
			<if test="rscCode != null and rscCode != '' ">
				WHERE RSC_CODE = #{rscCode} 
			</if>
		GROUP BY RSC_LOT , RSC_CODE 
		ORDER BY RSC_CODE	
	</select>
	
	<!-- 자재 안전재고 조회 -->
	<select id="rscStoreInv" resultType="egov.mes.resources.store.dao.ResourcesStoreVO">
		SELECT	C.CODE AS RSC_CODE,
      			C.CODE_NAME AS RSC_NAME,
      			FN_GET_RSC_PRC(C.CODE) AS RSC_PRC,
      			FN_GET_RSC_UNIT(C.CODE) AS RSC_UNIT,
			    FN_GET_CODE_NAME(R.SUPLCOM_CODE) AS SUC_NAME,
			    (sum(s.ist_cnt)-sum(s.ost_cnt)) as rsc_cnt,
			    (select sum(pqi.podt_output * pbr.res_usage)
		from product_qnt_info pqi
		left join prdt_bom_res pbr
		on pqi.podt_code = pbr.podt_code
		where pqi.podt_etc='작년' and man_date between sysdate-380 and sysdate-350 and pbr.res_code = C.CODE) rsc_SFINVC
		FROM COMMON_CODE C
		LEFT JOIN RESOURCES R
		ON C.CODE = R.RSC_CODE
		LEFT JOIN resource_store S
		ON R.RSC_CODE = S.RSC_CODE
		WHERE CODE LIKE '%' || 'RSC' || '%'
        AND CODE_FLAG = 'Y'
		GROUP BY C.CODE,C.CODE_NAME,FN_GET_RSC_PRC(C.CODE),FN_GET_RSC_UNIT(C.CODE),FN_GET_CODE_NAME(R.SUPLCOM_CODE)
		ORDER BY C.CODE
	</select>
</mapper>