<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egov.mes.order.dao.OrderMapper">
	
	<select id="orderList" resultType="egov.mes.order.dao.OrderVO">
		select ord_status , ord_code , cus_code , fn_get_code_name(cus_code) as code_name , ord_date , ord_duedate 
		from order_management
		where 1=1
			
		<if test="ordStatus != null">
			and ord_status = #{ordStatus}
		</if>
		
		<if test="cusCode != null">
			and cus_code = #{cusCode}
		</if>
		
		<if test="ordDatestart != null">
			<![CDATA[
				and to_char(ord_date , 'yyyy-MM-dd') >= #{ordDatestart}
			]]>
		</if>
		
		<if test="ordDateend != null">
			<![CDATA[
				and to_char(ord_date , 'yyyy-MM-dd') <= #{ordDateend}
			]]>
		</if>
		
		<if test="ordDuedatestart != null">
			<![CDATA[
				and to_char(ord_duedate , 'yyyy-MM-dd') >= #{ordDuedatestart}
			]]>
		</if>
		
		<if test="ordDuedateend != null">
			<![CDATA[
				and to_char(ord_duedate , 'yyyy-MM-dd') <= #{ordDuedateend}
			]]>
		</if>
		
		order by ord_duedate ASC
	</select>
	
	<select id="orderSelect" resultType="egov.mes.order.dao.OrderVO">
		select t.ord_no , t.ord_code , t.podt_code , fn_get_code_name(t.podt_code) as code_name , t.ord_qnt , 
		       (select podt_qnt from product where podt_code = t.podt_code) as podtQnt
        from trade_info t
        where ord_code = #{ordCode}
	</select>
	
	<update id="noManRelease" statementType="CALLABLE">
		{ call p_no_man_release(#{ordCode}) }
	</update>
	
	<select id="noManSelect" resultType="egov.mes.order.dao.OrderVO">
		select ord_code , cus_code , fn_get_code_name(cus_code) as code_name , ord_date , ord_duedate , 
			(select sum(ord_qnt) from trade_info where ord_code = o.ord_code) as ord_qnt
		from order_management o 
		where ord_status = '미생산출하'
		
		<if test="cusCode != null">
			and cus_code = #{cusCode}
		</if>
		
		<if test="ordDuedatestart != null">
			<![CDATA[
				and to_char(ord_duedate , 'yyyy-MM-dd') >= #{ordDuedatestart}
			]]>
		</if>
		
		<if test="ordDuedateend != null">
			<![CDATA[
				and to_char(ord_duedate , 'yyyy-MM-dd') <= #{ordDuedateend}
			]]>
		</if>
		
		order by ord_code ASC
	</select>
	
	<select id="findLot" resultType="egov.mes.order.dao.OrderVO">
		select ord_code , podt_code , fn_get_code_name(podt_code) as codeName ,to_char(man_date,'yyyy-mm-dd') as manDate , podt_lot 
		from product_qnt_info pqi
		join manufacture_command mc
		on pqi.com_code = mc.com_code
		join manufacture_plan mp
		on mp.man_plan_no = mc.man_plan_no
		where pqi.podt_etc != '작년'
		and mp.ord_code = #{ordCode}
	</select>
	
</mapper>