<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egov.mes.manufacture.process.dao.ManProcessMapper">

<!-- 공정 조회 -->
<select id="selectProcess" resultType="egov.mes.manufacture.process.dao.ManProcessVO">
	select c.podt_code, prod_detail(c.podt_code) as podtName, 
           d.fac_code, prod_detail(d.fac_code) as facName, 
           d.proc_code, prod_detail(d.proc_code) as procName
	from process_flowInfo c join ( select a.fac_no, a.fac_code,
	                                      b.proc_code
                                   from facility_status a join facility_process b
                                   on a.fac_no = b.fac_no
                                   where a.fac_status='Y') d
	on c.proc_code = d.proc_code
	where podt_code = #{podtCode}
	group by c.podt_code, d.fac_code,  d.proc_code
	order by proc_code
</select>

<!-- 생산지시조회 -->
<select id="selectCommand" resultType="egov.mes.manufacture.process.dao.ManProcessVO">
	select podt_code, prod_detail(podt_code) podtName, 
		   man_startdate, man_goalperday, com_code
	from man_command_view
	where man_startdate = to_date(#{manStartDate}, 'rr/MM/dd')
</select>


<!-- 조회된 생산지시 -->
<!-- <select id="selectedCommand" resultType="egov.mes.manufacture.process.dao.ManProcessVO" >
	select podt_code, prod_detail(podt_code) podtName, 
		   man_startdate, man_goalperday, com_code
	from man_command_view
	where com_code = #{comCode}
</select>
 -->

</mapper>